<div class="mat-app-background basic-container">
    <h2>Lead List</h2>
    <div>
        <form id="date-input">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
            <div class="icon-container">
            <button mat-mini-fab aria-label="Example icon button with a filter list icon" (click)="filter();">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
        </form>
        <p>Selected range: {{range.value | json}}</p>
    </div>
    <app-lead-table #table></app-lead-table>
</div>